
/* COLOR  */
:root {
    --gray: #5b5858;
    --light-gray:#f7f7f7;
    --blue:#1b72e8;
    --dark-blue:#051e34;
    --orange: #ff8f00;       
}

.bg-light-gray {
    background-color: var(--light-gray) ;
}

.bg-blu {
    background-color: var(--blue) ;
}

.bg-dark-blu {
    background-color: var(--dark-blue) ;
}

/* -- APP -- */
.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* -- APP TOOLBAR -- */
.app-toolbar {
    flex-shrink: 0;
    height: auto;
    display: flex;
    background-color: var(--light-gray);
    padding: 15px 0px;
}


.search {
    background-color: lightgray ;
    border-radius: 5px;
    padding: 3px;
}

.icon-gray {
    color: var(--gray);
}

.icon-orange {
    color:var(--orange);
}

.logo-mobile {
    width: 35px;
}

/* -- APP BODY -- */
.app-body {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/* -- HEADER  -- */
.app-header {
    min-width: 60px;
    flex-shrink: 0;
    background-color: var(--dark-blue);
    padding: 30px 0px;
    background-image: url(../img/sidebar-bg.png);
}

.main-header {
    padding: 30px;
    background-color: var(--blue);
}

.app-header-container {
    height: 100%;
    
}

.row-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-header {
    list-style: none;
}

.header-flex {
    display: flex;
    
}

/* -- MAIN -- */
.app-main {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* main header */


/* main body */
.main-body {
    flex-grow: 1;
    background-color: var(--light-gray);
    padding: 30px;
}







/* DEBUG */
/* .debug .container-fluid {
    border: 1px solid black;
} */


/* RESPONSIVE */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* HEADER */
    .app-header {
        min-width: 150px;
    }

    .row-header {
        align-items: flex-start;
        padding: 0px 20px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }